body {
    min-width: 250px;
    margin: 25px;
}
* {
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding:0;
}
ul li {
   
    cursor: pointer;
    position: relative;
    padding: 12px;
    list-style-type: none;
    background-color: rgb(224, 217, 208);
    font-size: 20px;
    transition: ease-in-out;

    /* make the list items not selectable */
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* set different colors for the odd and even lists */
ul li:nth-child(odd){
background:#f9f9f9;
}
  
